@use 'sass:map';
@import './base';

$skinVars : map.deep-merge($baseVars, (
  "colors": (
    "primary": ("medium" : #c70000),
    "secondary": ("medium" : #476996),
    "success": ("medium" : #3adb76),
    "warning": ("medium" : #ffae00),
    "alert": ("medium" : #cc4b37),
  ),
    "siteWidth": 80rem ,
    "borderVeryThin": .063rem,
    "borderThin": .1rem,
    "borderNormal": .2rem,
    "borderThick": .3rem,
    "fontDefault": "VELUX Transform",
    "fontDisplay": "VELUX Transform",
));


@import '../vars';


//Add values based on previously defined vars
$skinAdditional : (
);

$skinVars: map.deep-merge($skinVars, $skinAdditional);
