@use 'sass:map';
@import './base';

$skinVars : map.deep-merge($baseVars, (
  "colors": (
    "primary": ("medium" : #0a7e8b),
    "secondary": ("medium" : #c44444),
    "success": ("medium" : #3adb76),
    "warning": ("medium" : #ffae00),
    "alert": ("medium" : #cc4b37),
  ),
  "siteWidth": 80rem ,
  "fontDefault": "Roboto",
  "fontDisplay": "BrandonGrotesque",
  "borderThin": .1rem,
  "borderNormal": .2rem,
  "borderThick": .3rem,

  // Usp Bar
  "uspBarBorder": 0,
));






@import '../vars';


//Add values based on previously defined vars
$skinAdditional : (
);

$skinVars: map.deep-merge($skinVars, $skinAdditional);


